/*********** Premium Animated Gradient ***********/
/*************************************************/
.elementor-element.premium-gradient-yes:not(.premium-gradient-wave-yes) {
    background-size: 400% 400% !important;
    -webkit-animation: Gradient 15s ease-in-out infinite;
    animation: Gradient 15s ease-in-out infinite;
}

.elementor-element.premium-gradient-yes.premium-gradient-wave-yes {
    z-index: 0;
    background-size: 100% 100% !important;
    position: relative;
}
.elementor-element.premium-gradient-yes.premium-gradient-wave-yes .premium-wave-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    -webkit-animation: pa-gradient-wave 5s ease-in-out infinite;
    animation: pa-gradient-wave 5s ease-in-out infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes pa-gradient-wave {
    from {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes pa-gradient-wave {
    from {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

/**************** Premium Particles Section *****************/
/***********************************************************/
.premium-particles-yes .tsparticles-canvas-el {
    position: absolute !important;
    top: 0;
    height: 100%;
}

.premium-particles-yes .premium-global-particles {
    position: absolute;
}
.premium-particles-yes .premium-global-particles .tsparticles-canvas-el {
    position: fixed !important;
}

body.premium-particles-yes {
    position: relative;
}

body.premium-particles-yes .premium-global-particles {
    width: 100%;
    height: 100%;
}

/**************** Premium Parallax Section *****************/
/***********************************************************/
.elementor-element.premium-prallax-multi {
    overflow: hidden;
}

.premium-parallax-section-hide {
    opacity: 0;
}

.elementor-editor-active .premium-parallax-section .elementor-empty-view {
    z-index: 9999;
}

.elementor-element .premium-parallax-layer {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
}
.elementor-element .premium-parallax-layer img {
    width: 100%;
}

.premium-parallax-no-trans {
    -webkit-transition: background-position 70ms !important;
    transition: background-position 70ms !important;
}

.parallax-no-trans {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
}

.premium-parallax-left {
    left: 0;
}

.premium-parallax-center {
    left: 50%;
}
.premium-parallax-center:not(.premium-parallax-vcenter) {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.premium-parallax-center.premium-parallax-vcenter {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.premium-parallax-right {
    right: 0;
}

.premium-parallax-top {
    top: 0;
}

.premium-parallax-vcenter {
    top: 50%;
}
.premium-parallax-vcenter:not(.premium-parallax-center) {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.premium-parallax-bottom {
    bottom: 0;
}

.elementor-editor-active .elementor-element .premium-parallax-layer,
.elementor-editor-active .elementor-element .premium-blob-layer,
.elementor-editor-active .elementor-element .premium-lottie-layer {
    cursor: -webkit-grab;
    cursor: grab;
}
.elementor-editor-active .elementor-element .premium-parallax-layer:hover,
.elementor-editor-active .elementor-element .premium-blob-layer:hover,
.elementor-editor-active .elementor-element .premium-lottie-layer:hover {
    outline: 2px dashed #6ec1e4;
}
.elementor-editor-active .elementor-element .premium-parallax-layer.ui-draggable-dragging,
.elementor-editor-active .elementor-element .premium-blob-layer.ui-draggable-dragging,
.elementor-editor-active .elementor-element .premium-lottie-layer.ui-draggable-dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

/**************** Premium Ken Burns Section *****************/
/************************************************************/
.elementor-element.cycle-slideshow {
    overflow: hidden !important;
}

.premium-kenburns-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.elementor-element.cycle-slideshow .premium-kenburns-img {
    position: absolute;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

.premium-kenburns-img.pa-fill {
    object-fit: fill;
}

.premium-kenburns-img.pa-cover {
    object-fit: cover;
}

.premium-kenburns-img.pa-contain {
    object-fit: contain;
}

img.premium-kenburns-img {
    -webkit-animation-duration: 6.5s;
    animation-duration: 6.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.premium-kenburns-zoom-in {
    -webkit-animation-name: kenburns-scale-in;
    animation-name: kenburns-scale-in;
}

.premium-kenburns-zoom-out {
    -webkit-animation-name: kenburns-scale-out;
    animation-name: kenburns-scale-out;
}

img.kenburns-scale-infinite-in,
img.kenburns-scale-infinite-out {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

img.kenburns-scale-infinite-in {
    -webkit-animation-name: kenburns-scale-infinite-in;
    animation-name: kenburns-scale-infinite-in;
}

img.kenburns-scale-infinite-out {
    -webkit-animation-name: kenburns-scale-infinite-out;
    animation-name: kenburns-scale-infinite-out;
}

.cycle-slideshow .premium-kenburns-center {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

.cycle-slideshow .premium-kenburns-cl {
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.cycle-slideshow .premium-kenburns-cr {
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
}

.cycle-slideshow .premium-kenburns-tc {
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
}

.cycle-slideshow .premium-kenburns-bc {
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
}

.cycle-slideshow .premium-kenburns-bl {
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
}

.cycle-slideshow .premium-kenburns-tl {
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.cycle-slideshow .premium-kenburns-tr {
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
}

.cycle-slideshow .premium-kenburns-br {
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
}

@-webkit-keyframes kenburns-scale-in {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes kenburns-scale-in {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@-webkit-keyframes kenburns-scale-out {
    from {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes kenburns-scale-out {
    from {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes kenburns-scale-infinite-in {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes kenburns-scale-infinite-in {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes kenburns-scale-infinite-out {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes kenburns-scale-infinite-out {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

/********* Premium Lottie Animation *********/
/********************************************/
.premium-lottie-yes .premium-lottie-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}
.premium-lottie-yes .premium-lottie-layer svg {
    width: 120px;
    height: 120px;
}

/************* Premium Global/Custom Cursor *************/
/********************************************************/
.premium-global-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    cursor: none;
    pointer-events: none;
    text-align: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.premium-global-cursor .premium-cursor-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.premium-global-cursor .premium-cursor-follow-text {
    display: inline;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0;
}
.premium-global-cursor .premium-cursor-icon-svg {
    display: block;
}

.premium-cursor-ftext .premium-global-cursor,
.premium-cursor-fimage .premium-global-cursor {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.premium-cursor-icon .premium-global-cursor,
.premium-cursor-img .premium-global-cursor,
.premium-cursor-lottie .premium-global-cursor {
    -webkit-transition:
        left 0s linear,
        top 0s linear;
    transition:
        left 0s linear,
        top 0s linear;
}

.premium-pulse-yes {
    -webkit-animation: hvr-pulse-grow 0.5s ease-in-out alternate infinite;
    animation: hvr-pulse-grow 0.5s ease-in-out alternate infinite;
}

.premium-buzz-yes {
    -webkit-animation: hvr-buzz 0.5s ease-in-out alternate infinite;
    animation: hvr-buzz 0.5s ease-in-out alternate infinite;
}

.premium-cursor-not-active > .premium-global-cursor {
    display: none !important;
}

.premium-gCursor-yes:not(.premium-gCursor-custom-yes):not(.premium-cursor-fimage):not(.premium-cursor-ftext) *,
.premium-gCursor-yes:not(.premium-gCursor-custom-yes).magnet-effect * {
    cursor: none !important;
}

.premium-cursor-icon-svg {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.premium-cursor-dot .eicon-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.premium-image-hotspots-main-icons .magnet-spot {
    position: absolute;
    top: -15px;
    left: -15px;
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px);
    height: -webkit-calc(100% + 30px);
    height: calc(100% + 30px);
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(3deg);
        transform: translateX(3px) rotate(3deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-3deg);
        transform: translateX(-3px) rotate(-3deg);
    }
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

/************** Premium Badge **************/
/*******************************************/
.premium-gbadge-yes {
    position: relative;
    /**Flag*/
    /**Circle*/
    /**Triangle*/
    /**Bookmark*/
    /**Custom*/
}
.premium-gbadge-yes .premium-badge-icon,
.premium-gbadge-yes .premium-lottie-animation {
    width: 32px;
    height: 32px;
    line-height: 32px;
}
.premium-gbadge-yes .premium-lottie-animation svg,
.premium-gbadge-yes .premium-badge-icon svg,
.premium-gbadge-yes .premium-gbadge-svg svg {
    width: 100%;
    height: 100%;
}
.premium-gbadge-yes .premium-badge-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.premium-gbadge-yes .premium-gbadge-svg {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 2;
}
.premium-gbadge-yes .premium-badge-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.premium-gbadge-yes .premium-badge-icon {
    display: inline-block;
    text-align: center;
}
.premium-gbadge-yes.premium-gbadge-column .premium-badge-text {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}
.premium-gbadge-yes.premium-gbadge-column .premium-badge-icon {
    margin-top: 5px;
}
.premium-gbadge-yes.premium-gbadge-row .premium-badge-icon {
    text-indent: 5px;
}
.premium-gbadge-yes .premium-global-badge {
    position: absolute;
    z-index: 5;
}
.premium-gbadge-yes.premium-gbadge-stripe > .premium-global-badge {
    top: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 15em;
    overflow: hidden;
    height: 15em;
}
.premium-gbadge-yes.premium-gbadge-stripe > .premium-global-badge .premium-badge-container {
    text-align: center;
    width: 150%;
    -webkit-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
    -ms-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
    transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
    margin-top: 35px;
    font-size: 13px;
    line-height: 2;
    font-weight: 800;
    text-transform: uppercase;
}
.premium-gbadge-yes.premium-gbadge-stripe.premium-gbadge-left > .premium-global-badge {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
.premium-gbadge-yes.premium-gbadge-tri > .premium-global-badge .premium-badge-container,
.premium-gbadge-yes.premium-gbadge-bookmark > .premium-global-badge .premium-badge-container,
.premium-gbadge-yes.premium-gbadge-flag > .premium-global-badge .premium-badge-container {
    background: transparent;
}
.premium-gbadge-yes.premium-gbadge-flag > .premium-global-badge {
    text-align: center;
    border-radius: 4px 4px 0 4px;
    top: 10%;
}
.premium-gbadge-yes.premium-gbadge-flag > .premium-global-badge::before,
.premium-gbadge-yes.premium-gbadge-flag > .premium-global-badge::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    border-bottom: 8px solid transparent;
}
.premium-gbadge-yes.premium-gbadge-flag > .premium-global-badge::before {
    right: 0;
}
.premium-gbadge-yes.premium-gbadge-flag .premium-badge-container {
    padding: 3px 15px;
}
.premium-gbadge-yes.premium-gbadge-flag.premium-gbadge-left > .premium-global-badge {
    left: -8px;
}
.premium-gbadge-yes.premium-gbadge-flag.premium-gbadge-left > .premium-global-badge::after {
    left: 0;
    border-right: 8px solid rgba(0, 0, 0, 0.2);
}
.premium-gbadge-yes.premium-gbadge-flag.premium-gbadge-right > .premium-global-badge {
    right: -8px;
}
.premium-gbadge-yes.premium-gbadge-flag.premium-gbadge-right > .premium-global-badge::after {
    right: 0;
    border-left: 8px solid rgba(0, 0, 0, 0.2);
}
.premium-gbadge-yes.premium-gbadge-circle > .premium-global-badge .premium-badge-container {
    min-width: 4em;
    min-height: 4em;
    border-radius: 50%;
}
.premium-gbadge-yes.premium-gbadge-tri .premium-badge-text {
    white-space: nowrap;
}
.premium-gbadge-yes.premium-gbadge-tri > .premium-global-badge {
    width: 0;
    height: 0;
}
.premium-gbadge-yes.premium-gbadge-tri > .premium-global-badge .premium-badge-container {
    position: absolute;
}
.premium-gbadge-yes.premium-gbadge-tri.premium-gbadge-left > .premium-global-badge {
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 100px solid transparent;
}
.premium-gbadge-yes.premium-gbadge-tri.premium-gbadge-left > .premium-global-badge .premium-badge-container {
    left: 15px;
    bottom: 53px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.premium-gbadge-yes.premium-gbadge-tri.premium-gbadge-right > .premium-global-badge {
    border-bottom: 100px solid transparent;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
}
.premium-gbadge-yes.premium-gbadge-tri.premium-gbadge-right > .premium-global-badge .premium-badge-container {
    left: 56px;
    top: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.premium-gbadge-yes.premium-gbadge-bookmark:not(.premium-gbadge-column)
    > .premium-global-badge
    .premium-badge-container {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.premium-gbadge-yes.premium-gbadge-bookmark > .premium-global-badge {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 32px;
    line-height: 32px;
    padding: 20px 0;
}
.premium-gbadge-yes.premium-gbadge-bookmark > .premium-global-badge::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 0;
    border-bottom: 8px solid transparent;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
}
.premium-gbadge-yes.premium-gbadge-bookmark > .premium-global-badge .premium-badge-icon {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.premium-gbadge-yes.premium-gbadge-tri .premium-badge-text,
.premium-gbadge-yes.premium-gbadge-bookmark .premium-badge-text {
    white-space: nowrap;
}
.premium-gbadge-yes.premium-gbadge-custom > .premium-global-badge .premium-badge-container {
    min-width: 2em;
    min-height: 2em;
    line-height: 2em;
    padding: 0.5em 0.8em;
}

/*********** Premium Magic Scroll ***********/
/********************************************/
.pa-invisible {
    opacity: 0;
    visibility: hidden;
}

.premium-mscroll-svg,
.premium-mscroll-svg svg {
    width: 100% !important;
}

.premium-mscroll-yes .premium-video-box-container > div,
.premium-mscroll-yes .premium-video-box-video-container {
    overflow: visible !important;
}
