/**************** Premium WhatsApp Chat ****************/
/*******************************************************/
.premium-whatsapp-icon-before .premium-whatsapp-link {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.premium-whatsapp-link-wrap .premium-whatsapp-link {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.premium-whatsapp-link {
  background-color: #61ce70;
  z-index: 99;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.premium-whatsapp-link .premium-whatsapp-text {
  -webkit-order: 10;
  -ms-flex-order: 10;
  order: 10;
}
.premium-whatsapp-link .premium-whatsapp-lottie {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.premium-whatsapp-link .premium-whatsapp-icon,
.premium-whatsapp-link span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.premium-whatsapp-link img {
  width: 30px;
  height: 30px;
}
.premium-whatsapp-link svg {
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.premium-whatsapp-link .premium-whatsapp-icon {
  font-size: 22px;
}

.premium-button-float.right {
  position: fixed;
  bottom: 1em;
  right: 1em;
}
.premium-button-float.left {
  position: fixed;
  bottom: 1em;
  left: 1em;
}