/*********** Premium Instagram Feed ***********/
/**********************************************/
.premium-instafeed-container {
  min-height: 20px;
}

.premium-insta-feed-wrap {
  text-align: center;
  position: relative;
  display: block;
}

.premium-insta-info-wrap {
  height: 100%;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.premium-insta-feed-wrap > a {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}

.premium-insta-info-wrap p:not(.premium-insta-image-caption) {
  display: inline-block;
}

.premium-insta-feed:hover .premium-insta-info-wrap {
  opacity: 1;
}

.premium-instafeed-container .premium-insta-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.premium-insta-img-wrap {
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.premium-insta-img-wrap img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.premium-insta-video-wrap video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  visibility: hidden;
  background-color: #000;
  z-index: 3;
}

.premium-insta-feed-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  padding: 20px;
  color: #000;
  background-color: rgba(252, 252, 252, 0.35);
  cursor: pointer;
}

.premium-insta-info-wrap .premium-insta-likes,
.premium-insta-info-wrap .premium-insta-heart,
.premium-insta-info-wrap .premium-insta-comments,
.premium-insta-info-wrap .premium-insta-comment {
  font-size: 25px;
  margin-left: 2px;
  margin-right: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.premium-insta-info-wrap .premium-insta-likes {
  margin-right: 10px;
}

.premium-insta-zoomout img,
.premium-insta-scale img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.premium-insta-gray img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.premium-insta-sepia img {
  -webkit-filter: sepia(30%);
  filter: sepia(30%);
}

.premium-insta-bright img {
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

.premium-insta-trans img {
  -webkit-transform: translateX(-15px) scale(1.1);
  -ms-transform: translateX(-15px) scale(1.1);
  transform: translateX(-15px) scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/*Thumbnail Container Hover*/
.premium-insta-zoomin .premium-insta-feed:hover img {
  -webkit-transform: scaleX(1.1) scaleY(1.1);
  -ms-transform: scaleX(1.1) scaleY(1.1);
  transform: scaleX(1.1) scaleY(1.1);
}

.premium-insta-zoomout .premium-insta-feed:hover img {
  -webkit-transform: scaleX(1) scaleY(1);
  -ms-transform: scaleX(1) scaleY(1);
  transform: scaleX(1) scaleY(1);
}

.premium-insta-scale .premium-insta-feed:hover img {
  -webkit-transform: scaleX(1.3) scaleY(1.3) rotate(5deg);
  -ms-transform: scaleX(1.3) scaleY(1.3) rotate(5deg);
  transform: scaleX(1.3) scaleY(1.3) rotate(5deg);
}

.premium-insta-gray .premium-insta-feed:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.premium-insta-blur .premium-insta-feed:hover img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.premium-insta-sepia .premium-insta-feed:hover img {
  -webkit-filter: sepia(0%);
  filter: sepia(0%);
}

.premium-insta-trans .premium-insta-feed:hover img {
  -webkit-transform: translateX(0px) scale(1.1);
  -ms-transform: translateX(0px) scale(1.1);
  transform: translateX(0px) scale(1.1);
}

.premium-insta-bright .premium-insta-feed:hover img {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

.premium-instafeed-profile-outer-container {
  margin-bottom: 20px;
}

.premium-insta-user-row .premium-instafeed-header-upper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.premium-insta-user-row .premium-instafeed-header-container {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.premium-insta-user-col .premium-instafeed-header-upper {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.premium-insta-user-col .premium-instafeed-header-container {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.premium-insta-user-col .premium-instafeed-logo-container {
  width: 100%;
  text-align: center;
}

.premium-instafeed-header-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.premium-instafeed-header-container .premium-instafeed-logo-container {
  font-size: 30px;
}
.premium-instafeed-header-container .premium-instafeed-logo-container i {
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.premium-instafeed-header-container .premium-instafeed-header-upper {
  width: 100%;
}
.premium-instafeed-header-container .premium-instafeed-header-upper .premium-instafeed-header-pic-wrapper {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 30px;
  width: 100px;
}
.premium-instafeed-header-container .premium-instafeed-header-upper .premium-instafeed-header-pic-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.premium-instafeed-header-container .premium-instafeed-header-upper .premium-instafeed-header-user-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.premium-instafeed-header-container .premium-instafeed-user-activity {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.premium-instafeed-header-container .premium-instafeed-user-activity .premium-instafeed-user-activity-item {
  text-align: center;
  margin-right: 15px;
}
.premium-instafeed-header-container .premium-error-notice {
  width: 100%;
}