/*********** Woo Product Listings ***********/
/********************************************/
/**
* Skin 6
*/
.premium-woo-skin-grid-6 .premium-woo-qv-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 40%;
  text-align: center;
  padding: 5px;
  background: rgba(2, 2, 2, 0.5);
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.premium-woo-skin-grid-6 li.product:hover .premium-woo-qv-btn {
  opacity: 1;
  visibility: visible;
}

.premium-woo-skin-grid-6 li.product .premium-woo-product-info .star-rating,
.premium-woo-skin-grid-7 li.product .premium-woo-product-info .star-rating {
  margin: 0;
}

.premium-woo-skin-grid-6 li.product .premium-woo-product-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.premium-woo-product-align-center .premium-woocommerce li.product .premium-woo-product-info {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.premium-woo-product-align-right .premium-woocommerce li.product .premium-woo-product-info {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.premium-woo-skin-grid-6 li.product .premium-woo-product-gallery-images {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 10px;
  width: 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/**
* Skin 7
*/
.premium-woo-skin-grid-7 .premium-woo-product-wrapper:hover {
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
}
.premium-woo-skin-grid-7 .premium-woo-product-wrapper .premium-woo-products-details-wrap .premium-woo-product-buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.premium-woo-skin-grid-7 .premium-woo-product-wrapper .premium-woo-products-details-wrap .premium-woo-product-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.premium-woo-skin-grid-7 .premium-woo-product-wrapper a.carousel-next {
  left: auto;
  right: 0px;
}
.premium-woo-skin-grid-7 .premium-woo-product-wrapper a.carousel-prev {
  left: 0px;
  right: auto;
}

.premium-woo-skin-grid-7 .premium-woo-product-wrapper,
.premium-woo-skin-grid-11 .premium-woo-product-wrapper {
  position: relative;
  background: #fff;
  -webkit-transition: box-shadow 0.4s, background-color 0.3s;
  transition: box-shadow 0.4s, background-color 0.3s;
}
.premium-woo-skin-grid-7 .premium-woo-product-wrapper:hover .premium-woo-products-details-wrap,
.premium-woo-skin-grid-11 .premium-woo-product-wrapper:hover .premium-woo-products-details-wrap {
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.premium-woo-skin-grid-7 .premium-woo-product-wrapper:hover .premium-woo-products-details-wrap .premium-woo-product-buttons,
.premium-woo-skin-grid-11 .premium-woo-product-wrapper:hover .premium-woo-products-details-wrap .premium-woo-product-buttons {
  opacity: 1;
}
.premium-woo-skin-grid-7 .premium-woo-product-wrapper .premium-woo-products-details-wrap,
.premium-woo-skin-grid-11 .premium-woo-product-wrapper .premium-woo-products-details-wrap {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.premium-woo-skin-grid-7 .premium-woo-product-wrapper .premium-woo-products-details-wrap .premium-woo-product-buttons,
.premium-woo-skin-grid-11 .premium-woo-product-wrapper .premium-woo-products-details-wrap .premium-woo-product-buttons {
  position: absolute;
  width: 100%;
  left: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  padding: 0px 15px;
  height: 40px;
  transition: 0.4s;
}

/**
* Skin 8
*/
.premium-woo-skin-grid-8 .premium-woo-product-overlay {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 10px 10px 20px 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  opacity: 0;
}
.premium-woo-skin-grid-8 .premium-woo-product-overlay .premium-woo-atc-button {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.premium-woo-skin-grid-8 .premium-woo-product-overlay .premium-woo-atc-button a {
  display: inline-block;
  border: none;
}
.premium-woo-skin-grid-8 .premium-woo-product-overlay .premium-woo-qv-btn {
  -webkit-transition-delay: 0s, 0.2s !important;
  transition-delay: 0s, 0.2s !important;
  margin-left: 10px;
}
.premium-woo-skin-grid-8 .premium-woo-product-overlay .premium-woo-cart-btn {
  background-color: transparent;
  padding: 0;
}
.premium-woo-skin-grid-8 .premium-woo-product-overlay .premium-woo-atc-button,
.premium-woo-skin-grid-8 .premium-woo-product-overlay .premium-woo-qv-btn {
  min-height: 20px;
  min-width: 20px;
  font-size: 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
  -webkit-transition: all 0.3s ease-out, opacity 0.3s ease-out, -webkit-transform 0.4s ease-out;
  transition: all 0.3s ease-out, opacity 0.3s ease-out, -webkit-transform 0.4s ease-out;
  transition: all 0.3s ease-out, opacity 0.3s ease-out, transform 0.4s ease-out;
  transition: all 0.3s ease-out, opacity 0.3s ease-out, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}
.premium-woo-skin-grid-8 li.product:hover {
  -webkit-transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
.premium-woo-skin-grid-8 li.product:hover .premium-woo-atc-button,
.premium-woo-skin-grid-8 li.product:hover .premium-woo-qv-btn {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  z-index: 5;
}

/**
* Skin 9
*/
.premium-woo-skin-grid-9 {
  will-change: transform;
}
.premium-woo-skin-grid-9 .premium-woo-ribbon-container {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.premium-woo-skin-grid-9 .premium-woo-ribbon-container .premium-woo-product-sale-wrap .premium-woo-product-onsale,
.premium-woo-skin-grid-9 .premium-woo-ribbon-container .premium-woo-product-featured-wrap .premium-woo-product-featured {
  padding: 1px 10px;
  margin: 0;
}
.premium-woo-skin-grid-9 .premium-woo-ribbon-container .premium-woo-product-onsale {
  margin-bottom: 5px;
}
.premium-woo-skin-grid-9 li:hover .premium-woo-qv-btn {
  opacity: 1;
  -webkit-transform: translateY(-50%) rotate(-90deg) translateY(0);
  -ms-transform: translateY(-50%) rotate(-90deg) translateY(0);
  transform: translateY(-50%) rotate(-90deg) translateY(0);
  -webkit-transform: transform 0.6s ease, -webkit-transform 0.6s ease;
  transform: transform 0.6s ease, -webkit-transform 0.6s ease;
}
.premium-woo-skin-grid-9 li:hover .premium-woo-product-right-wrap .premium-woo-atc-button {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
.premium-woo-skin-grid-9 li:hover .premium-woo-product-right-wrap .price {
  opacity: 0;
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
.premium-woo-skin-grid-9 .premium-woo-products-details-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.premium-woo-skin-grid-9 .premium-woo-products-details-wrap .premium-woo-product-right-wrap {
  text-align: right;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-basis: 40%;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}
.premium-woo-skin-grid-9 .premium-woo-products-details-wrap .premium-woo-product-right-wrap :nth-child(2n) {
  top: -28px;
}
.premium-woo-skin-grid-9 .premium-woo-products-details-wrap .premium-woo-product-right-wrap .premium-woo-atc-button {
  opacity: 0;
  -webkit-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  transform: translateX(-16px);
}
.premium-woo-skin-grid-9 .premium-woo-products-details-wrap .premium-woo-product-right-wrap .premium-woo-atc-button a.button {
  position: relative;
  background: unset;
  color: inherit;
  padding: 0;
  white-space: nowrap;
}
.premium-woo-skin-grid-9 .premium-woo-products-details-wrap .premium-woo-product-right-wrap .premium-woo-atc-button a.button::after {
  content: "";
  height: 30%;
  width: 100%;
  top: 50%;
  z-index: -1;
  background: rgba(78, 79, 81, 0.5607843137);
  position: absolute;
  display: block;
}
.premium-woo-skin-grid-9 .premium-woo-products-details-wrap .premium-woo-product-right-wrap .premium-woo-atc-button:hover a.button:after {
  -webkit-animation: pa-paint-stroke 0.8s;
  animation: pa-paint-stroke 0.8s;
}
.premium-woo-skin-grid-9 .premium-woo-products-details-wrap .premium-woo-product-right-wrap .price {
  opacity: 1;
  top: 8px;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  white-space: nowrap;
}
.premium-woo-skin-grid-9 .premium-woo-products-details-wrap .premium-woo-product-right-wrap .premium-woo-atc-button,
.premium-woo-skin-grid-9 .premium-woo-products-details-wrap .premium-woo-product-right-wrap .price {
  position: relative;
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.premium-woo-skin-grid-9 .premium-woo-products-details-wrap .premium-woo-product-left-wrap {
  -webkit-flex-basis: 60%;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}
.premium-woo-skin-grid-9 .premium-woo-qv-btn {
  position: absolute;
  opacity: 0;
  top: 50%;
  right: -40px;
  padding: 3px 15px;
  color: #fff;
  -webkit-transform: translateY(-50%) rotate(-90deg) translateY(100%);
  -ms-transform: translateY(-50%) rotate(-90deg) translateY(100%);
  transform: translateY(-50%) rotate(-90deg) translateY(100%);
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

/**
* Skin 10
*/
.premium-woo-skin-grid-10 .premium-woo-product-wrapper:hover .premium-woo-product-info .price {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.premium-woo-skin-grid-10 .premium-woo-product-wrapper:hover .premium-woo-product-info .premium-woo-atc-button {
  opacity: 1;
  left: 0;
}
.premium-woo-skin-grid-10 .premium-woo-product-wrapper:hover .premium-woo-qv-btn {
  right: 20px;
  opacity: 1;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.premium-woo-skin-grid-10 .premium-woo-ribbon-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  right: 0;
  text-align: center;
}
.premium-woo-skin-grid-10 .premium-woo-ribbon-container .premium-woo-product-sale-wrap,
.premium-woo-skin-grid-10 .premium-woo-ribbon-container .premium-woo-product-featured-wrap {
  width: 32px;
  position: relative;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 14px 0;
  margin-right: 30px;
}
.premium-woo-skin-grid-10 .premium-woo-ribbon-container .premium-woo-product-sale-wrap::after,
.premium-woo-skin-grid-10 .premium-woo-ribbon-container .premium-woo-product-featured-wrap::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  border-top: 0;
  border-bottom: 8px solid transparent;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}
.premium-woo-skin-grid-10 .premium-woo-ribbon-container .premium-woo-product-sale-wrap {
  margin-left: -16px;
}
.premium-woo-skin-grid-10 .premium-woo-ribbon-container .premium-woo-product-sale-wrap .premium-woo-product-onsale,
.premium-woo-skin-grid-10 .premium-woo-ribbon-container .premium-woo-product-featured-wrap .premium-woo-product-featured {
  display: inline-block;
  background-color: transparent !important;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  white-space: nowrap;
  text-align: center;
  color: #fff;
  margin: 0;
  line-height: 32px;
}
.premium-woo-skin-grid-10 .premium-woo-add-cart-icon-text {
  margin-left: 5px;
}
.premium-woo-skin-grid-10 .premium-woo-qv-btn {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 20px;
  right: -20px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  padding: 15px;
  opacity: 0;
  z-index: 99;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.premium-woo-skin-grid-10 .premium-woo-qv-btn:hover {
  color: #54595f;
  background: #fff;
}
.premium-woo-skin-grid-10 .premium-woo-product-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 25px;
  margin-top: 0.5em;
}
.premium-woo-skin-grid-10 .premium-woo-product-info .price {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.premium-woo-skin-grid-10 .premium-woo-product-info .premium-woo-atc-button {
  position: absolute;
  left: 100%;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  white-space: nowrap;
}
.premium-woo-skin-grid-10 .premium-woo-product-info .premium-woo-atc-button .premium-woo-cart-btn {
  display: inline-block;
  border-bottom: 1px solid;
  background: unset;
  padding: 0;
}

.premium-woo-skin-grid-9 .premium-woo-products-inner ul.products .star-rating,
.premium-woo-skin-grid-10 .premium-woo-products-inner ul.products .star-rating {
  margin: 0;
}

/**
* Skin 11
*/
.premium-woo-skin-grid-11 .premium-woo-product-wrapper .premium-woo-qv-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.premium-woo-skin-grid-11 .premium-woo-product-wrapper:hover .premium-woo-qv-btn {
  background-color: rgba(84, 89, 95, 0.4784313725);
  border-radius: 50%;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.05);
}
.premium-woo-skin-grid-11 .premium-woo-product-wrapper:hover .premium-woo-products-details-wrap {
  -webkit-transform: translateY(-45px);
  -ms-transform: translateY(-45px);
  transform: translateY(-45px);
}
.premium-woo-skin-grid-11 .premium-woo-product-gallery-images .premium-woo-product__gallery_image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.premium-woo-skin-grid-11 .premium-woo-product-gallery-images .premium-woo-product__gallery_image:first-of-type {
  margin-left: 0;
}
.premium-woo-skin-grid-11 .premium-woo-product-gallery-images .premium-woo-product__gallery_image:last-of-type {
  margin-right: 0;
}

.premium-woo-skin-grid-8 .premium-woo-qv-icon,
.premium-woo-skin-grid-11 .premium-woo-qv-icon {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@-webkit-keyframes pa-paint-stroke {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  50% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  51% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}

@keyframes pa-paint-stroke {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  50% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  51% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}