/********* Premium Social Reviews *********/
/******************************************/
.premium-fb-page-next-yes .premium-fb-rev-list {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.premium-fb-page-next-yes .premium-fb-rev-content {
    width: 70%;
}

.premium-fb-page-next-yes .slick-dots {
    -webkit-flex: 0 auto !important;
    -ms-flex: 0 auto !important;
    flex: 0 auto !important;
}

.premium-fb-rev-container {
    padding: 8px 0 0;
}

.premium-fb-rev-container .premium-fb-rev-img {
    display: inline;
}

.premium-error-notice {
    padding: 10px;
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    text-align: center;
}

.premium-fb-rev-page {
    margin-bottom: 30px;
}

.premium-reviews-ltr .premium-fb-rev-review-inner,
.premium-reviews-rtl .premium-fb-rev-review-inner {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.premium-fb-rev-content-left {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.premium-reviews-src-ltr .premium-fb-rev-content-left {
    min-width: 60px;
}

.premium-reviews-src-ltr .premium-fb-rev-page-inner {
    -js-display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.premium-reviews-src-ltr .premium-fb-rev-page-left {
    margin-right: 20px;
}

.premium-reviews-src-rtl .premium-fb-rev-content-left {
    min-width: 60px;
}

.premium-reviews-src-rtl .premium-fb-rev-page-inner {
    -js-display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.premium-reviews-src-rtl .premium-fb-rev-page-left {
    margin-left: 20px;
}

.premium-reviews-src-rtl .premium-fb-rev-page-inner,
.premium-reviews-rtl .premium-fb-rev-review-inner {
    text-align: right;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.premium-reviewer-image-pos-inline.premium-reviews-ltr .premium-fb-rev-content-right {
    margin-left: 10px;
}

.premium-reviewer-image-pos-inline.premium-reviews-rtl .premium-fb-rev-content-right {
    margin-right: 10px;
}

.premium-fb-rev-page-rating {
    vertical-align: middle;
}

.premium-fb-rev-page-stars img {
    width: 100px;
}

.premium-fb-rev-star {
    -js-display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.premium-fb-rev-container .premium-fb-rev-page-link,
.premium-fb-rev-container .premium-fb-rev-reviewer-link {
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.premium-fb-rev-time .premium-fb-rev-time-text {
    font-size: 13px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.premium-fb-rev-review {
    width: 100%;
    vertical-align: top;
}

.premium-fb-rev-container .premium-fb-rev-review .premium-fb-rev-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.premium-fb-rev-container:not(.google-reviews) .premium-fb-rev-img {
    border-radius: 100%;
}

.premium-fb-rev-stars .premium-fb-rev-star {
    vertical-align: middle;
}

.premium-fb-rev-stars-container img {
    width: 80px;
}

.premium-reviews-even .premium-fb-rev-reviews {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.premium-reviews-even .premium-fb-rev-reviews .premium-fb-rev-review {
    height: 100%;
}

.elementor-widget-premium-facebook-reviews,
.elementor-widget-premium-google-reviews,
.elementor-widget-premium-yelp-reviews {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.elementor-widget-premium-facebook-reviews .elementor-widget-container,
.elementor-widget-premium-google-reviews .elementor-widget-container,
.elementor-widget-premium-yelp-reviews .elementor-widget-container {
    width: 100%;
}

.premium-fb-rev-container .premium-fb-rev-info {
    -js-display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.premium-fb-dots-container {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.premium-fb-dots-container .slick-dots {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    bottom: 25px;
    position: relative;
}

.premium-fb-page-next-yes .premium-fb-rev-page-inner {
    position: relative;
}

.premium-fb-page-next-yes.premium-reviews-place-v-bottom .premium-fb-rev-page-inner {
    top: 100%;
}

.premium-fb-page-next-yes.premium-reviews-place-v-center .premium-fb-rev-page-inner {
    top: 50%;
}

/** Read More **/
.premium-fb-rev-text-wrapper span {
    display: inline-block;
}

.premium-fb-rev-text-wrapper .premium-fb-rev-readmore {
    margin-top: 10px;
    display: block;
    font-size: 1em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.premium-reviews-even .slick-track {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.premium-reviews-even .slick-slide {
    height: inherit !important;
}

.premium-reviews-even ul.slick-dots {
    width: 100%;
}

/* .premium-carousel-rtl-yes .premium-fb-rev-container .slick-slider .slick-track,
.premium-carousel-rtl-yes .premium-fb-rev-container .slick-slider .slick-list {
  direction: ltr !important;
} */

/* .premium-fb-rev-container .slick-slider .slick-track,
.premium-fb-rev-container .slick-slider .slick-list {
  direction: rtl !important;
} */

.premium-fb-rev-container .slick-slider .premium-fb-rev-review {
    direction: ltr;
}

.premium-reviewer-image-pos-left.premium-reviews-rtl.premium-social-reviews-default .premium-fb-rev-content-right {
    -webkit-flex-direction: row-reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
}

.premium-reviewer-image-pos-left.premium-reviews-rtl.premium-social-reviews-default .premium-fb-rev-content-left {
    margin-left: 10px;
}

.premium-reviewer-image-pos-left.premium-reviews-rtl.premium-social-reviews-card .premium-fb-rev-content-right {
    -webkit-flex-direction: row-reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
}

.premium-reviewer-image-pos-left.premium-reviews-rtl.premium-social-reviews-card .premium-fb-rev-content-left {
    margin-left: 10px;
}

.premium-reviews-rtl.premium-social-reviews-bubble .premium-fb-rev-content-right {
    -webkit-flex-direction: row-reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
}

.premium-reviews-rtl.premium-social-reviews-bubble .premium-fb-rev-content-left {
    margin-left: 15px;
}

.premium-reviews-rtl.premium-social-reviews-bubble.premium-reviewer-image-yes .premium-rev-arrow-bubble {
    right: 45px;
}

.premium-reviews-rtl.premium-social-reviews-bubble .premium-rev-arrow-bubble {
    right: 20px;
}

.premium-reviews-rtl.premium-social-reviews-bubble .premium-rev-arrow-bubble-border,
.premium-reviews-rtl.premium-social-reviews-bubble .premium-rev-arrow {
    right: 0;
    left: unset;
}

.premium-social-reviews-default.premium-reviewer-image-pos-left.premium-reviews-ltr .premium-fb-rev-content-left {
    margin-right: 15px;
}

.premium-social-reviews-default.premium-reviewer-image-pos-left .premium-fb-rev-content-right {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.premium-social-reviews-default.premium-reviewer-image-pos-left
    .premium-fb-rev-content-right
    .premium-fb-rev-reviewer-header {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.premium-social-reviews-default.premium-reviewer-image-pos-left
    .premium-fb-rev-content-right
    .premium-fb-rev-content-left {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.premium-social-reviews-default.premium-reviewer-image-pos-left .premium-fb-rev-content-right .premium-fb-rev-rating {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}

.premium-social-reviews-card.premium-reviewer-image-pos-left.premium-reviews-ltr .premium-fb-rev-content-left {
    margin-right: 10px;
}

.premium-social-reviews-card .premium-fb-rev-readmore {
    margin-bottom: 15px;
}

.premium-social-reviews-card .premium-fb-rev-content-right {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.premium-social-reviews-card .premium-fb-rev-content-right .premium-fb-rev-reviewer-wrapper {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
}

.premium-social-reviews-card .premium-fb-rev-content-right .premium-fb-rev-info {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}

.premium-social-reviews-card .premium-fb-rev-content-right .premium-fb-rev-content-left {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.premium-social-reviews-card .premium-fb-rev-content-right .premium-fb-rev-rating {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.premium-social-reviews-card.premium-reviewer-image-pos-block .premium-fb-rev-content-left {
    margin-top: 20px;
    margin-right: 0px;
}

.premium-social-reviews-card.premium-reviewer-image-pos-block .premium-fb-rev-readmore {
    margin-bottom: 0px;
}

.premium-social-reviews-card.premium-reviewer-image-pos-left .premium-fb-rev-content-right {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.premium-social-reviews-card.premium-reviewer-image-pos-left
    .premium-fb-rev-content-right
    .premium-fb-rev-reviewer-header {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.premium-social-reviews-card.premium-reviewer-image-pos-left
    .premium-fb-rev-content-right
    .premium-fb-rev-content-left {
    margin-top: 7px;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.premium-social-reviews-card.premium-reviewer-image-pos-left .premium-fb-rev-content-right .premium-fb-rev-rating {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}

.premium-social-reviews-card.premium-reviewer-image-pos-inline .premium-fb-rev-content-left {
    margin-top: 10px;
}

.premium-social-reviews-card.premium-reviewer-image-pos-inline .premium-fb-rev-review-inner {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.premium-review-stars-above .premium-fb-rev-reviewer-header {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.premium-review-stars-above .premium-fb-rev-reviewer-header .premium-fb-rev-reviewer-wrapper {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.premium-review-stars-above .premium-fb-rev-reviewer-header .premium-fb-rev-info {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.premium-reviews-ltr.premium-social-reviews-bubble .premium-fb-rev-content-left {
    margin-right: 15px;
}

.premium-social-reviews-bubble .premium-fb-rev-content-right {
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.premium-social-reviews-bubble .premium-fb-rev-content-right .premium-fb-rev-reviewer-header {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}

.premium-social-reviews-bubble .premium-fb-rev-content-right .premium-fb-rev-content-left {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.premium-social-reviews-bubble .premium-fb-rev-content-right .premium-fb-rev-rating {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    position: relative;
    margin-bottom: 25px;
}

.premium-social-reviews-bubble .premium-fb-rev-content-right .premium-fb-rev-rating {
    border: 1px solid #ededed;
    border-radius: 25px;
    background-color: #fafafa;
}

.premium-social-reviews-bubble .premium-fb-rev-content-right .premium-fb-rev-text-wrapper {
    padding: 25px;
}

.premium-rev-arrow-bubble {
    position: absolute;
}

.premium-rev-arrow-bubble-border {
    border-width: 16px;
    border-style: solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: #ededed;
    left: 0;
    top: 0;
    position: absolute;
}

.premium-rev-arrow {
    border-width: 16px;
    border-style: solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: #fafafa;
    left: 0;
    top: -1px;
    position: absolute;
}

.premium-reviews-ltr.premium-reviewer-image-yes .premium-rev-arrow-bubble {
    left: 45px;
}

.premium-reviews-ltr .premium-rev-arrow-bubble {
    left: 20px;
}

.premium-fb-rev-review-inner {
    position: relative;
}

.premium-reviews-even .premium-fb-rev-review {
    position: relative;
}

.premium-reviews-even .premium-fb-rev-review-inner {
    position: static;
}

.premium-fb-rev-icon {
    position: absolute;
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    -webkit-transform: translate(var(--translate-x), var(--translate-y));
    -ms-transform: translate(var(--translate-x), var(--translate-y));
    transform: translate(var(--translate-x), var(--translate-y));
}

.premium-fb-rev-icon svg {
    width: 20px;
    height: 20px;
}
