/**************** Premium Horizontal Scroll **************/
/*********************************************************/
.rtl .premium-hscroll-outer-wrap {
    direction: ltr;
}

.premium-hscroll-wrap {
    overflow: hidden;
}

.premium-hscroll-wrap .premium-hscroll-bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.premium-hscroll-wrap .premium-hscroll-layer-active {
    opacity: 1;
    visibility: visible;
}

.premium-hscroll-scroller-wrap {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.premium-hscroll-scroller-wrap[data-progress="top"] {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.premium-hscroll-wrap:not(.premium-hscroll-responsive) .premium-hscroll-scroller-wrap .premium-hscroll-temp {
    position: relative;
    float: left;
}

.premium-hscroll-temp .elementor-row,
.premium-hscroll-temp .elementor-column {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.premium-hscroll-sections-wrap {
    height: 100vh;
    overflow: hidden;
}

/*.premium-hscroll-window-fit .premium-hscroll-sections-wrap {
    min-height: 100vh;
}*/
.premium-hscroll-window-fit .premium-hscroll-spacer {
    height: 0 !important;
}

.premium-hscroll-wrap:not(.premium-hscroll-responsive) .premium-hscroll-sections-wrap[data-scroll-opacity="1"] .premium-hscroll-hide .elementor-container,
.premium-hscroll-wrap:not(.premium-hscroll-responsive) .premium-hscroll-sections-wrap[data-scroll-opacity="1"] .premium-hscroll-hide .elementor-row,
.premium-hscroll-wrap:not(.premium-hscroll-responsive) .premium-hscroll-sections-wrap[data-scroll-opacity="1"] .premium-hscroll-hide .elementor-column {
    opacity: 0.2;
}

.premium-hscroll-scroller-wrap .premium-hscroll-progress {
    position: absolute;
    background-color: #54595f;
    bottom: 3px;
    left: 80px;
    height: 3px;
    width: 100%;
    z-index: 4;
}

.premium-hscroll-progress-hidden {
    display: none;
}

.premium-hscroll-scroller-wrap[data-progress="top"] .premium-hscroll-progress {
    bottom: auto;
    top: 0px;
}

.premium-hscroll-scroller-wrap .premium-hscroll-progress-line {
    background-color: #fff;
    width: 0;
    height: 100%;
}

.premium-hscroll-nav {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: flex;
    position: absolute;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 99;
    direction: rtl;
}

.premium-hscroll-nav ul.premium-hscroll-nav-list {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex !important;
    display: flex !important;
    font-size: 0.8em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.premium-hscroll-nav-item {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.premium-hscroll-nav-item.active .premium-hscroll-nav-dot {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.premium-hscroll-nav-item:hover span {
    z-index: 99;
    visibility: visible;
    opacity: 1;
}

.premium-hscroll-nav-item .premium-hscroll-nav-tooltip {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    padding-left: 0.4em;
    padding-right: 0.4em;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #54595f;
}

.premium-hscroll-nav-item .premium-hscroll-nav-dot {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: #54595f;
    border-radius: 50%;
    border: 1px solid #54595f;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.premium-hscroll-dots-bottom .premium-hscroll-nav {
    bottom: 30px;
    width: 100%;
}

.premium-hscroll-dots-bottom .premium-hscroll-nav-item {
    margin: 0 0.7em;
}

.premium-hscroll-dots-bottom .premium-hscroll-nav-tooltip {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 1em;
}

.premium-hscroll-dots-left .premium-hscroll-nav-tooltip {
    left: 1.4em;
}

.premium-hscroll-dots-left .premium-hscroll-nav-tooltip::after {
    position: absolute;
    top: 50%;
    content: "";
    right: -webkit-calc(100% - 1px);
    right: calc(100% - 1px);
    width: 10px;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #54595f;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.premium-hscroll-dots-left .premium-hscroll-nav {
    left: 1%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.premium-hscroll-dots-right .premium-hscroll-nav-tooltip {
    right: 1.4em;
}

.premium-hscroll-dots-right .premium-hscroll-nav-tooltip::after {
    position: absolute;
    top: 50%;
    content: "";
    left: -webkit-calc(100% - 1px);
    left: calc(100% - 1px);
    width: 10px;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #54595f;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.premium-hscroll-dots-right .premium-hscroll-nav {
    right: 1%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.elementor-widget-premium-hscroll:not(.premium-hscroll-dots-bottom) ul.premium-hscroll-nav-list {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.elementor-widget-premium-hscroll:not(.premium-hscroll-dots-bottom) .premium-hscroll-nav-list .premium-hscroll-nav-item {
    margin: 0.7em 0;
}

.premium-hscroll-nav-list.dashes .premium-hscroll-nav-item {
    width: 3em;
    height: 0.3em;
    border-radius: 0;
}

.premium-hscroll-pagination {
    position: absolute;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: flex;
    left: 30px;
    bottom: 30px;
    background-color: rgba(2, 2, 2, 0.5);
    padding: 0.5em 1em;
    border-radius: 5px;
}

.premium-hscroll-pagination .premium-hscroll-total-slides:before {
    content: "/";
    margin: 0 5px;
    color: #fff;
}

.premium-hscroll-pagination span.premium-hscroll-page-item {
    font-size: 30px;
    display: inline-block;
    color: #fff;
}

.premium-hscroll-wrap div[class^="premium-hscroll-arrow"] {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -js-display: flex;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 99;
    height: 100%;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.premium-hscroll-arrow i {
    color: #54595f;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.premium-hscroll-arrow svg {
    width: 1em;
    height: 1em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.premium-hscroll-arrows-hidden .premium-hscroll-arrow,
.premium-hscroll-dots-hidden ul.premium-hscroll-nav-list,
.premium-hscroll-arrow-hidden {
    opacity: 0;
    visibility: hidden;
}

.premium-hscroll-arrow-left {
    right: 1em;
}

.premium-hscroll-arrow-right {
    left: 1em;
}

.premium-hscroll-wrap-icon {
    cursor: pointer;
    font-size: 2em;
    width: 1em;
    height: 1em;
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/**
* Responsive Style
*/
@media (max-width: 1024px) {
    .premium-hscroll-force-true .premium-hscroll-temp section .elementor-row {
        -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
}

.premium-hscroll-fixed-content {
    position: absolute;
    top: 0;
    left: 0;
}

/**
* Common
*/
.premium-hscroll-nav-list.dots .premium-hscroll-nav-item.active .premium-hscroll-nav-dot {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}